@import "../styles/colors.scss";
@import "../styles/font.scss";

.navbar {
    display: grid;
    grid-template-columns: [brand-col] min-content [topic-col] auto [end-col];
    background-color: $base-color;
    height: 100%;
    margin: 0px;

    .home {
        grid-column: brand-col / topic-col;
        grid-row: 1;
        font-size: 3em;
        padding: 0.1em 0.5em;
        font-weight: bold;
        font-family: 'RobotoMono Bold';
        text-decoration: none;
        color: $base-font-color;
    }

    .topics {
        grid-column: topic-col / end-col;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;

        a {
            font-family: 'RobotoMono Medium';
            font-size: 1.5em;
            color: $base-font-color;
            text-decoration: none;
            padding: 5px;

            &:hover {
                color: $base-color;
                background-color: $base-font-color;
            }
        }
    }
}