@import "../../styles/colors.scss";
@import "../../styles/font.scss";

.editor {
    display: grid;
    grid-template-columns: [name-column] min-content [value-column] min-content [end-column];
    grid-auto-flow: row;
    padding-bottom: 5%;

    .title {
        grid-column: name-column / end-column;
        font-family: 'RobotoMono Medium';
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }

    .propertyName {
        justify-self: left;
        align-self: center;
        font-family: 'RobotoMono Medium';
        grid-column: name-column / value-column;
        margin-right: 2em;
    }

    .propertyValue {
        align-items: center;
        grid-column: value-column / end-column;
    }

    input {
        text-overflow: ellipsis;
        border: none;
        border-bottom: 1px solid $base-color-light;
        text-align: center;
        width: 100%;
        padding: 5px 0px;
        min-width: 40px;

        &:focus-visible {
            outline: none;
            border: none;
            border-radius: 0px;
            border-bottom: 1px solid #1976d2;
        }
    }

    input[type="checkbox"] {
        float: left;
        width: auto;
    }
}