@import "../styles/colors.scss";

.sidebar {
    background-color: $base-color-light;
    height: 100%;
    width: 100%;
}

.topic {
    margin: 0px;
    padding-left: 0px;

    ul {
        list-style-type: none;
    }

    a {
        font-family: 'RobotoMono Medium';
        color: $base-font-color;
        text-decoration: none;
        padding: 5px;

        &:hover {
            color: $base-color;
            background-color: $base-font-color;
        }
    }

    li {
        padding: 5px;
    }
}