@font-face {
    font-family: 'RobotoMono Bold';
    src: url(../asset/Roboto/static/RobotoMono-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoMono Medium';
    src: url(../asset/Roboto/static/RobotoMono-Medium.ttf) format('truetype');
}